<section id="tip-alert-layer" class="tip-layer alltrans">

    <div id="tip-alert" class="tip-board alltrans">

        <div id="tip-alert-text" class="tip-text"></div>

        <div class="tip-btnarea">

            <a id="tip-alert-btn" class="tip-btn">OK</a>

        </div>

    </div>

</section>
<section id="tip-confirm-layer" class="tip-layer alltrans">

    <div id="tip-confirm" class="tip-board alltrans">

        <div id="tip-confirm-text" class="tip-text"></div>

        <div class="tip-btnarea">

            <a id="tip-confirm-btn1" class="tip-btn alltrans">Yes</a>
            <a id="tip-confirm-btn2" class="tip-btn alltrans">Cancel</a>

        </div>

    </div>

</section>
<section id="tip-info-layer" class="tip-layer alltrans">

    <div id="tip-info" class="tip-board alltrans">

        <div id="tip-info-text" class="tip-text">Please Wait...</div>

    </div>

</section>