 <nav class="active">
      
      <a class="nav-logo" href="#" target="_blank"></a>

      <div class="nav-section">
        <div class="nav-section-name" id="section-name">HOV - apac ADMIN</div>
      </div>

      <a class="nav-btn mobile" id="nav-btn"></a>

      <ul class="nav-menu" id="nav-menu">

        <div class="nav-sep dark"></div>

        <li class="">
          <a href="/home" class="uns">CC Overview</a>
        </li>

        <div class="nav-sep"></div>

        <li class="">
          <a href="#" class="uns">CC Popular</a>
        </li>

        <div class="nav-sep"></div>

        <li class="">
          <a href="#" class="uns">CC Entries</a>
        </li>

        <div class="nav-sep dark"></div>

        <li class="">
          <a href="#" class="uns">SKATE Event</a>
        </li>

        <div class="nav-sep dark"></div>

        <li class="">
          <a href="#" class="uns">MW Musicians</a>
        </li>

        <div class="nav-sep dark"></div>
        
        <li class="">
          <a href="/user" class="uns">User Admin</a>
        </li>

        <li class="active">
          <a href="/role" class="uns">Role Admin</a>
        </li>

        <div class="nav-sep dark"></div>

        <li class="">
          <a href="#" class="uns"><i class="fa fa-window-close"></i> LOGOUT</a>
        </li>

        <div class="nav-sep dark"></div>

      </ul>

      <footer class="uns desktop">v0.3 July 12, 2017</footer>

    </nav>
