<%- partial('./partials/menu.ejs') %>

    <script type="text/javascript">
        var path = [
            '../js/src/views/report'
        ]

        require(path, function(callBack) {
            callBack.constructor();
        });
    </script>
    <section class="page">

        <div class="block-topbar">
            <div class="topbar-title uns">REPORT ANALYZED</div>
            <div class="clearfix"></div>
        </div>

        <div class="block">

            <div class="city-topbar&gt;">
                <div class="city-topbar-title">Statistics</div>
                <div class="clearfix"></div>
            </div>

            <div class="city-list-ctn" id="container">



            </div>

        </div>
        <!-- 

        <div class="block-topbar">
            <div class="topbar-title uns"><b>CC</b> MONTHLY DATA ( apac SITE )</div>
            <div class="clearfix"></div>
        </div>

        <div class="block">

            <div class="city-topbar&gt;">
                <div class="city-topbar-title">Statistics</div>
                <div class="clearfix"></div>
            </div>

            <div class="city-list-ctn">

                <table class="stat-table">
                    <tbody>
                        <tr>
                            <th>Month</th>
                            <th>Data</th>
                        </tr>

                        <tr>
                            <td>2017-04</td>
                            <td><a href="#">DOWNLOAD DATA</a></td>
                        </tr>
                        <tr>
                            <td>2017-05</td>
                            <td><a href="#">DOWNLOAD DATA</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
 -->


        <div class="block-noresult">Last Update: APAC@2017-07-26 / CN@2017-07-26</div>

    </section>

    <section id="tip-alert-layer" class="tip-layer alltrans">

        <div id="tip-alert" class="tip-board alltrans">

            <div id="tip-alert-text" class="tip-text"></div>

            <div class="tip-btnarea">

                <a id="tip-alert-btn" class="tip-btn">OK</a>

            </div>

        </div>

    </section>


    <section id="tip-confirm-layer" class="tip-layer alltrans">

        <div id="tip-confirm" class="tip-board alltrans">

            <div id="tip-confirm-text" class="tip-text"></div>

            <div class="tip-btnarea">

                <a id="tip-confirm-btn1" class="tip-btn alltrans">Yes</a>
                <a id="tip-confirm-btn2" class="tip-btn alltrans">Cancel</a>

            </div>

        </div>

    </section>

    <section id="tip-info-layer" class="tip-layer alltrans">

        <div id="tip-info" class="tip-board alltrans">

            <div id="tip-info-text" class="tip-text">Please Wait...</div>

        </div>

    </section>