/* Entries */


/*---------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:1200px) {
    .data-filter {
        font-size: 18px;
        padding: 5px 0;
    }
    .data-filter-item {}
    .data-filter-item-title {
        display: block;
        float: none;
        height: 50px;
        width: 100%;
        line-height: 50px;
        padding: 0 10px;
        color: #000;
        text-align: left;
    }
    .data-filter-item-ctn {
        position: relative;
        display: block;
        width: 100%;
        float: none;
        line-height: 40px;
        padding: 2px 10px;
        font-family: 'Nunito Sans', Arial, sans-serif;
    }
    .data-filter-item-ctn a {
        display: inline-block;
        margin: .1% .1%;
        padding: 0 20px;
        background: #f5f5f5;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .data-filter-item-ctn a:hover {
        background: #fafafa;
    }
    .data-filter-item-ctn a.active {
        background: #d6000f;
        color: #fff;
    }
    .data-filter-item-ctn a span.num {
        font-size: 12px;
        padding: 0 5px;
        color: #999;
    }
    .data-filter-item-ctn a.active span.num {
        color: #ccc;
    }
    .data-filter-item-ctn a span.num i {
        color: #79a924;
        font-style: normal;
        font-weight: bold;
    }
    .data-filter-item-ctn a.active span.num i {
        color: #fff;
    }
    .data-filter-item-ctn input {
        width: 85%;
    }
    .list-ul li {
        border-bottom: 5px solid #f1f2ed;
    }
    .list-ul li a.w10 {
        width: 100%;
    }
    .list-ul li a.w15 {
        width: 100%;
    }
    .list-ul li a.w20 {
        width: 100%;
    }
    .list-ul li a.w30 {
        width: 100%;
    }
    .list-ul li a.w40 {
        width: 100%;
    }
    .list-ul li a.w50 {
        width: 100%;
    }
}