@CHARSET "UTF-8";
@media screen and ( max-width: 1200px) {
.page {
        margin-left: 0;
        position: relative;
        top: 50px;
        padding: 3%;
        margin: 0px !important;
        width: 100% !important;
        box-sizing: border-box;
    }

    .topbar-title{
       width: 100%;
       text-align: center;
    }

  tr td.user-item{
     font-size: 12px;

  }

  .topbar-titleRight{
     float: none;
     width: 100%;
  }

  .topbar-titleRight a{
     width: 25% !important;
     box-sizing: border-box;
     min-width: inherit !important;
     margin-left: 0px;
     border-left: 1px solid #f1f2ed;
     white-space: nowrap;
  }

.block-topbar {
        margin: 0 0 23px 0 !important;
    }

    .topbar-btn {
        min-width: 80px;
        padding: 0 5px;
        font-size: 14px !important;
    }

    .searchFont{
    width: 20% !important;
    font-size: 14px !important;
  }

  .search-bar input.text{
     width: 55% !important;
  }

  .search-bar .button{
      width: 20%;
      font-size: 13px !important;
  }

  .add_userBlock ul li .right{
     width: 100% !important;
     text-align: center;
  }

  .add_userBlock .header{
     margin-bottom: 10px !important;
  }

  .add_userBlock ul{
      width: 90% !important;
  }
  .add_userBlock ul li{
      font-size: 15px !important;
      padding: 5px 0 !important;
  }
  .add_userBlock ul li .left{
     margin-top: 5px;
     text-align: left !important;
     margin-bottom: 10px;
     padding-left: 10px;
     width: 100% !important;
  }

  .add_userBlock ul li .right .input_textare{
      height: 120px !important;
  }

  .marginLeft30{
     margin-left: 0px !important;
  }
}


  @media screen and (max-width: 330px){
    .page{
       width: 89% !important;
    }
}
