<%list.outboxList.forEach(function(item){%>
    <li>
        <a class="list-item w20">
            <%=item.recipient%>
        </a>
        <a class="list-item w30">
            <%=item.subject%>
        </a>
        <a class="list-item w10">
            <%=item.categoryId.categoryName%>
        </a>
        <a class="list-item w10">
            <%=moment(item.createTime).format('MM/DD HH:mm:ss')%>
        </a>
        <span class="list-item right">
<%if(item.status==1){%>
                                <a class="list-btn status check active" data-value="<%=item.id%>" data-type="<%=item.status%>">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                                <%} else if(item.status==-2){%>
                                    <a class="list-btn status cross" data-value="<%=item.id%>" data-type="<%=item.status%>">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                    <%} else{%>
                                          <a class="list-btn status question" data-value="<%=item.id%>" data-type="<%=item.status%>">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </a>
                                        <%}%>
                                    <a class="list-btn text margin" data-action="RETRY" data-value="<%=item.id%>" data-name="<%=item.subject%>">RETRY</a>
                                     <a class="list-btn text margin" data-action="MOVE" data-value="<%=item.id%>" data-name="<%=item.subject%>">MOVE</a>
                                        <a class="list-btn text margin" data-action="DELETE" data-value="<%=item.id%>" data-name="<%=item.subject%>">DELETE</a>
                                       
                            </span>


    </li>
    <%});%>